@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #fe2c55;
    // Default Layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-space: 24px;
    --black: #000;
    --text: #3333;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5px;
    text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    // color: var(--text);
    text-decoration: none;
}

body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        border-radius: 8px;
        font-size: 1.8rem;
        line-height: 22px;
        font-weight: 600;
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
}
