.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    min-height: 1000px;
    width: 1150px;
    height: 100%;
    display: flex;
}

.content {
    min-height: 1000px;
    flex: 1;
}
