.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-space: 9px;

    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
}

.inner {
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-space);
    align-items: center;
}

.logo {
    img {
        width: 119px;
        height: auto;
    }
}

.action {
    display: flex;
    flex-direction: row;
}

.more-btn {
    font-size: 2rem;
    margin-left: 24px;
    cursor: pointer;
}

.action-btn {
    background-color: transparent;
    font-size: 2rem;
    padding: 4px 12px;
    cursor: pointer;
}

.mailbox-btn {
    position: relative;
    .number {
        position: absolute;
        top: -30%;
        right: 5px;
        font-weight: 600;
        font-size: 14px;
        color: #ffff;
        background: rgb(254, 44, 85);
        height: 20px;
        border-radius: 10px;
        min-width: 20px;
        padding: 2px;
    }
}

.user-avatar {
    margin-left: 12px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
